.hero {
  width: 100%;
  min-height: 560px;
  &-bg {
    position: absolute;
    top: 24px;
    left: 4px;
  }
  &-bg-2 {
    position: absolute;
    top: 200px;
    right: 20px;
  }
}
.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  &-imageContainer {
    width: 250px;
    height: 250px;
    position: relative;
  }
}

.info {
    display: grid;
    grid-row-gap: var(--space);
  &-name {
    color: var(--color-1);
  }

 
}
